<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiao_tool_light/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{110,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1275,1343},{110,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiao_tool_light/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1099,1563},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiao_tool_light/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{120,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{355,943},{120,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiao_tool_light/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{859,1571},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiao_tool_light/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1231,1881},{106,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiao_tool_light/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{349,1189},{112,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiao_tool_light/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{122,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{351,1065},{122,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiao_tool_light/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{355,819},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiao_tool_light/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{975,1563},{124,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiao_tool_light/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1151,1347},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiao_tool_light/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{116,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1461,923},{116,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiao_tool_light/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{122,118}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1223,1471},{122,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_fireworks/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,16}</string>
                <key>spriteSize</key>
                <string>{228,210}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{921,1351},{228,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_fireworks/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-77}</string>
                <key>spriteSize</key>
                <string>{34,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{987,691},{34,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_fireworks/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,15}</string>
                <key>spriteSize</key>
                <string>{238,222}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{1177,1119},{238,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_fireworks/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,10}</string>
                <key>spriteSize</key>
                <string>{262,240}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{1417,1091},{262,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_fireworks/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{280,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{549,1319},{280,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_fireworks/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{304,268}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{279,1719},{304,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_fireworks/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{314,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{1,1719},{314,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_fireworks/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{328,286}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{1,1431},{328,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_fireworks/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,16}</string>
                <key>spriteSize</key>
                <string>{336,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{481,1097},{336,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_fireworks/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,4}</string>
                <key>spriteSize</key>
                <string>{204,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,350}</string>
                <key>textureRect</key>
                <string>{{971,1119},{204,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_ok_light/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,11}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{987,629},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_ok_light/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{270,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{1329,1595},{270,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{246,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{1387,1343},{246,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{218,88}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{831,1351},{218,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{294,88}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{941,1699},{294,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{298,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{745,1709},{298,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{298,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{549,1711},{298,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{298,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{647,1709},{298,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{296,98}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{841,1709},{296,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{292,98}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{1031,1689},{292,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{288,98}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{1131,1687},{288,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_ok_light/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{284,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,150}</string>
                <key>textureRect</key>
                <string>{{1231,1595},{284,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_spot_light/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{276,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,140}</string>
                <key>textureRect</key>
                <string>{{839,795},{276,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_spot_light/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{262,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,140}</string>
                <key>textureRect</key>
                <string>{{335,1303},{262,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_spot_light/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{276,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,140}</string>
                <key>textureRect</key>
                <string>{{1323,813},{276,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_spot_light/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{264,134}</string>
                <key>spriteSourceSize</key>
                <string>{280,140}</string>
                <key>textureRect</key>
                <string>{{593,1573},{264,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_spot_light/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{260,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,140}</string>
                <key>textureRect</key>
                <string>{{331,1573},{260,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_spot_light/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{276,136}</string>
                <key>spriteSourceSize</key>
                <string>{280,140}</string>
                <key>textureRect</key>
                <string>{{833,1073},{276,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select_jiao_stars/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,-3}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1977,855},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{484,166}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1543,613},{484,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{486,162}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1543,449},{486,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,3}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1977,781},{72,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select_jiao_stars/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{462,140}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1513,781},{462,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{468,144}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1571,303},{468,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{472,148}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1571,153},{472,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{474,150}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1571,1},{474,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{478,156}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1033,655},{478,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{480,160}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1,657},{480,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_jiao_stars/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{482,164}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{503,629},{482,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{338,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{977,1017},{338,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{348,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,1023},{348,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{352,98}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{483,895},{352,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{348,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{483,995},{348,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{332,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,1227},{332,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{346,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,1125},{346,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{352,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,819},{352,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{354,98}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{483,795},{354,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{352,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,921},{352,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{344,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{977,813},{344,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{330,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,1329},{330,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_ok_light/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{340,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{977,915},{340,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_quan_stars/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{520,340}</string>
                <key>spriteSourceSize</key>
                <string>{640,350}</string>
                <key>textureRect</key>
                <string>{{1049,1},{520,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_quan_stars/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{522,340}</string>
                <key>spriteSourceSize</key>
                <string>{640,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{522,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_quan_stars/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{522,308}</string>
                <key>spriteSourceSize</key>
                <string>{640,350}</string>
                <key>textureRect</key>
                <string>{{525,1},{522,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_quan_stars/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{518,316}</string>
                <key>spriteSourceSize</key>
                <string>{640,350}</string>
                <key>textureRect</key>
                <string>{{525,311},{518,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_quan_stars/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{500,312}</string>
                <key>spriteSourceSize</key>
                <string>{640,350}</string>
                <key>textureRect</key>
                <string>{{1,343},{500,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_quan_stars/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{496,310}</string>
                <key>spriteSourceSize</key>
                <string>{640,350}</string>
                <key>textureRect</key>
                <string>{{1045,343},{496,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>anim2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8612f18bb898bf2c38ae8625635cb72f:70c27ec9c8483106b46ea6d5a7a307ca:67f8e69dc8fc29987a9f0a880e6fa09d$</string>
            <key>textureFileName</key>
            <string>anim2.png</string>
        </dict>
    </dict>
</plist>
