<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerLayer/body.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,124},{44,45}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>playerLayer/eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,237},{13,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>playerLayer/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{76,73}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>playerLayer/l-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,161},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>playerLayer/l-hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>playerLayer/l-leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,124},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>playerLayer/r-arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,77},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>playerLayer/r-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,176},{58,21}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{58,21}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>playerLayer/r-leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,166},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>playerLayer/weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{95,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{95,38}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>playerLayer/wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,77},{50,45}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{50,45}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>playerLayer/wing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{91,59}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{91,59}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>playerLayer/wing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,68},{96,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,59}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>playerLayer/wing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{104,66}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>playerLayer/zq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{174,64}}</string>
                <key>sourceSize</key>
                <string>{180,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fighter0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99455063a89f80e6ca8894ab9f33bae3$</string>
            <key>textureFileName</key>
            <string>Fighter0.png</string>
        </dict>
    </dict>
</plist>
