<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{62,58}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{62,58}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,144},{62,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,68}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,144},{62,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,68}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{64,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{64,68}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,74},{64,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{64,68}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{64,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{64,68}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{64,68}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{64,68}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,72},{64,66}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>bz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,70}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,70}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bazhaF.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2c8c588e5359aa79f768960151df48f:1/1$</string>
            <key>textureFileName</key>
            <string>bazhaF.png</string>
        </dict>
    </dict>
</plist>
