<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_12000.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,74},{109,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,24}}</string>
                <key>sourceSize</key>
                <string>{109,24}</string>
            </dict>
            <key>coin_21000.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,81},{111,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,24}}</string>
                <key>sourceSize</key>
                <string>{111,24}</string>
            </dict>
            <key>coin_32000.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,55},{111,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,24}}</string>
                <key>sourceSize</key>
                <string>{111,24}</string>
            </dict>
            <key>coin_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,74},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>coin_bot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,105}}</string>
                <key>sourceSize</key>
                <string>{400,105}</string>
            </dict>
            <key>coin_rem.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,74},{91,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,25}}</string>
                <key>sourceSize</key>
                <string>{91,25}</string>
            </dict>
            <key>coin_remam.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,55},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>coin_x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{77,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{77,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>coin_x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{89,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>coin_x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{89,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>coin_x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{89,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>title_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{180,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,51}}</string>
                <key>sourceSize</key>
                <string>{180,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin.png</string>
            <key>size</key>
            <string>{1005,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e58a9be4d4856f6f0da5ec65789e53a9:c273d1f1f6f70e9a8412a74f64457748:6059f2e151ca252af15be5b1fdbd8cf4$</string>
            <key>textureFileName</key>
            <string>coin.png</string>
        </dict>
    </dict>
</plist>
