<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btna_cancel0.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,55}}</string>
                <key>sourceSize</key>
                <string>{128,55}</string>
            </dict>
            <key>btna_cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,55}}</string>
                <key>sourceSize</key>
                <string>{128,55}</string>
            </dict>
            <key>btna_pick0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{206,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,106}}</string>
                <key>sourceSize</key>
                <string>{206,106}</string>
            </dict>
            <key>btna_pick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{206,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,106}}</string>
                <key>sourceSize</key>
                <string>{206,106}</string>
            </dict>
            <key>dlg_btn_ok0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{206,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,106}}</string>
                <key>sourceSize</key>
                <string>{206,106}</string>
            </dict>
            <key>dlg_btn_ok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,106}}</string>
                <key>sourceSize</key>
                <string>{206,106}</string>
            </dict>
            <key>gift_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{198,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,41}}</string>
                <key>sourceSize</key>
                <string>{200,41}</string>
            </dict>
            <key>gift_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,45},{200,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,41}}</string>
                <key>sourceSize</key>
                <string>{200,41}</string>
            </dict>
            <key>gift_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{200,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,41}}</string>
                <key>sourceSize</key>
                <string>{200,41}</string>
            </dict>
            <key>text_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,59},{333,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,41}}</string>
                <key>sourceSize</key>
                <string>{333,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1496,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ced48d8e4464c0cea47e88520c7c0886:c8ea0c4b8d7221ceaaccc31347d2b0e7:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
