<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>break0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,865},{221,233}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,37},{221,233}}</string>
                <key>sourceSize</key>
                <string>{281,343}</string>
            </dict>
            <key>break1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,606},{241,257}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{241,257}}</string>
                <key>sourceSize</key>
                <string>{281,343}</string>
            </dict>
            <key>break2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,315},{261,289}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{261,289}}</string>
                <key>sourceSize</key>
                <string>{281,343}</string>
            </dict>
            <key>break3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{267,315}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{267,315}}</string>
                <key>sourceSize</key>
                <string>{281,343}</string>
            </dict>
            <key>break4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1445},{275,327}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{275,327}}</string>
                <key>sourceSize</key>
                <string>{281,343}</string>
            </dict>
            <key>break5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{281,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,343}}</string>
                <key>sourceSize</key>
                <string>{281,343}</string>
            </dict>
            <key>break6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1722},{261,313}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,313}}</string>
                <key>sourceSize</key>
                <string>{281,343}</string>
            </dict>
            <key>break7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{261,311}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{261,311}}</string>
                <key>sourceSize</key>
                <string>{281,343}</string>
            </dict>
            <key>doublescore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1317},{121,125}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{121,125}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>doublescore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,407},{127,127}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{127,127}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>doublescore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1317},{133,121}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,121}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>doublescore3.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1085},{129,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{129,123}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>doublescore4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,139},{133,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,129}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>doublescore5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,274},{131,129}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{131,129}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>getitem0.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1005},{80,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{80,78}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>getitem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1302},{70,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{70,70}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>getitem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1005},{78,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{78,76}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>getitem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1216},{86,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{86,84}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>getitem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,746},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>magnet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1578},{136,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,134}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>magnet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1577},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>magnet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1440},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>playerbomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1088},{227,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,226}}</string>
                <key>sourceSize</key>
                <string>{227,226}</string>
            </dict>
            <key>playerdeath.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,746},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>shield0.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1440},{138,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,135}}</string>
                <key>sourceSize</key>
                <string>{138,135}</string>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,606},{138,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,135}}</string>
                <key>sourceSize</key>
                <string>{138,135}</string>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,865},{138,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,135}}</string>
                <key>sourceSize</key>
                <string>{138,135}</string>
            </dict>
            <key>shield3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{134,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,135}}</string>
                <key>sourceSize</key>
                <string>{138,135}</string>
            </dict>
            <key>sprint0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{222,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,364}}</string>
                <key>sourceSize</key>
                <string>{222,364}</string>
            </dict>
            <key>sprint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{222,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,364}}</string>
                <key>sourceSize</key>
                <string>{222,364}</string>
            </dict>
            <key>sprint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,364}}</string>
                <key>sourceSize</key>
                <string>{222,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{638,1991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65f3b6a02e890031014a26d1992f321d:b958f0348ee4051dd864640143ed3edc:3dfbfbc8204a359f1a81f2ee84fdb371$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
