<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy0.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,337},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>enemy10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,216},{191,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,137}}</string>
                <key>sourceSize</key>
                <string>{191,137}</string>
            </dict>
            <key>enemy11.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,216},{167,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,118}}</string>
                <key>sourceSize</key>
                <string>{167,118}</string>
            </dict>
            <key>enemy12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{167,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,192}}</string>
                <key>sourceSize</key>
                <string>{167,192}</string>
            </dict>
            <key>enemy13.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,409},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>enemy14.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,196},{139,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,125}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>enemy15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{16,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,200}}</string>
                <key>sourceSize</key>
                <string>{16,200}</string>
            </dict>
            <key>enemy16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{16,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,200}}</string>
                <key>sourceSize</key>
                <string>{16,200}</string>
            </dict>
            <key>enemy17.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{296,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,212}}</string>
                <key>sourceSize</key>
                <string>{296,212}</string>
            </dict>
            <key>enemy18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{316,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,192}}</string>
                <key>sourceSize</key>
                <string>{316,192}</string>
            </dict>
            <key>enemy19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,274}}</string>
                <key>sourceSize</key>
                <string>{294,274}</string>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,234},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,409},{93,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,385},{92,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,85}}</string>
                <key>sourceSize</key>
                <string>{92,85}</string>
            </dict>
            <key>enemy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,409},{74,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,87}}</string>
                <key>sourceSize</key>
                <string>{74,87}</string>
            </dict>
            <key>enemy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,337},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>enemy7.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,91},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>enemy8.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,161},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>enemy9.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,355},{172,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,122}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>enemy_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,472},{109,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,29}}</string>
                <key>sourceSize</key>
                <string>{109,29}</string>
            </dict>
            <key>enemy_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,216},{59,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,17}}</string>
                <key>sourceSize</key>
                <string>{59,17}</string>
            </dict>
            <key>enemy_hp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,479},{107,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{107,27}}</string>
                <key>sourceSize</key>
                <string>{109,29}</string>
            </dict>
            <key>enemy_hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,479},{57,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,15}}</string>
                <key>sourceSize</key>
                <string>{59,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{851,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cbf3940ffa06e485225b204af4a18a3:c9aaf61bcff1dcd5b9200a505594d8a9:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
