<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet10.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,204},{25,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,59}}</string>
                <key>sourceSize</key>
                <string>{25,59}</string>
            </dict>
            <key>bullet11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{25,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,59}}</string>
                <key>sourceSize</key>
                <string>{25,59}</string>
            </dict>
            <key>bullet12.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{21,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,200}}</string>
                <key>sourceSize</key>
                <string>{21,200}</string>
            </dict>
            <key>bullet13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,303}}</string>
                <key>sourceSize</key>
                <string>{89,303}</string>
            </dict>
            <key>bullet14.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,307},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bullet15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{37,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,71}}</string>
                <key>sourceSize</key>
                <string>{37,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemybullet.png</string>
            <key>size</key>
            <string>{123,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6588d37e16e0c9dc1b8d6b1f3b3d0f69:2615b3e649c0fcebad4dcf362bb47ebb:7355614993c01d1f97d03057ce5415a1$</string>
            <key>textureFileName</key>
            <string>enemybullet.png</string>
        </dict>
    </dict>
</plist>
