<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{278,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,122}}</string>
                <key>sourceSize</key>
                <string>{278,122}</string>
            </dict>
            <key>btn_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{278,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,122}}</string>
                <key>sourceSize</key>
                <string>{278,122}</string>
            </dict>
            <key>btn_exit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,126},{278,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,122}}</string>
                <key>sourceSize</key>
                <string>{278,122}</string>
            </dict>
            <key>btn_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{278,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,122}}</string>
                <key>sourceSize</key>
                <string>{278,122}</string>
            </dict>
            <key>btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,193},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>btn_gift0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,126},{278,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,122}}</string>
                <key>sourceSize</key>
                <string>{278,122}</string>
            </dict>
            <key>btn_gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{278,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,122}}</string>
                <key>sourceSize</key>
                <string>{278,122}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,201},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>game_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,168}}</string>
                <key>sourceSize</key>
                <string>{237,168}</string>
            </dict>
            <key>icon_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,126},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{219,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,68}}</string>
                <key>sourceSize</key>
                <string>{219,68}</string>
            </dict>
            <key>icon_sprint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,126},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,126},{387,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,73}}</string>
                <key>sourceSize</key>
                <string>{387,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1362,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2233b42d877bb85510b9c190c5b2f40f:6d8532e53d2d87992cdc928bb26492ce:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
