<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,225},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>main_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,78},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>main_pay0.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,164},{154,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,79}}</string>
                <key>sourceSize</key>
                <string>{154,79}</string>
            </dict>
            <key>main_pay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,164},{154,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,79}}</string>
                <key>sourceSize</key>
                <string>{154,79}</string>
            </dict>
            <key>main_plane0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,83},{154,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,79}}</string>
                <key>sourceSize</key>
                <string>{154,79}</string>
            </dict>
            <key>main_plane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,162},{154,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,79}}</string>
                <key>sourceSize</key>
                <string>{154,79}</string>
            </dict>
            <key>main_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,225},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>main_start0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{213,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,79}}</string>
                <key>sourceSize</key>
                <string>{213,79}</string>
            </dict>
            <key>main_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{213,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,79}}</string>
                <key>sourceSize</key>
                <string>{213,79}</string>
            </dict>
            <key>main_starttext.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,78},{145,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,19},{145,41}}</string>
                <key>sourceSize</key>
                <string>{213,79}</string>
            </dict>
            <key>main_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,83},{74,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,93}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,158}}</string>
                <key>sourceSize</key>
                <string>{442,158}</string>
            </dict>
            <key>main_userrank.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{74,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,93}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{766,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ff3b99380409989e5e40e3236f47e2:1222430f8038eb78e4995cc775d8b136:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
