<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,171},{85,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,91}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>wing20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,2},{167,145}}</string>
                <key>offset</key>
                <string>{30,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,60},{167,145}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{321,147}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,58},{321,147}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{323,205}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{323,205}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{323,205}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{323,205}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{323,205}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{323,205}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing25.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{323,205}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{323,205}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing26.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{323,205}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{323,205}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing27.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{325,205}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{325,205}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing28.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{327,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,205}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
            <key>wing29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,205}}</string>
                <key>sourceSize</key>
                <string>{327,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player2.png</string>
            <key>size</key>
            <string>{1954,331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b19f1d3e4d238870dce0f303d7c11e03:9d3bd52db3e29db24696bed38a0e1506:e90b857f8d265021c26c0c17c1d7d942$</string>
            <key>textureFileName</key>
            <string>player2.png</string>
        </dict>
    </dict>
</plist>
