<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,371},{87,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{87,91}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>wing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,281},{95,88}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,62},{95,88}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{277,154}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{277,154}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,281},{277,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,178}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,281},{277,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,178}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing14.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{277,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,178}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{277,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,178}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing16.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,281},{277,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,178}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{277,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,178}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{277,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,178}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
            <key>wing19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,178}}</string>
                <key>sourceSize</key>
                <string>{277,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player1.png</string>
            <key>size</key>
            <string>{936,461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47bc0d32c85044e47b463e449294bd54:520325d262d7119e288746c84e50b4d3:e747f5312c3d452c9fc2c2ace0f0a9fb$</string>
            <key>textureFileName</key>
            <string>player1.png</string>
        </dict>
    </dict>
</plist>
