<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{384,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,59}}</string>
                <key>sourceSize</key>
                <string>{384,59}</string>
            </dict>
            <key>rank_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,124},{384,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,59}}</string>
                <key>sourceSize</key>
                <string>{384,59}</string>
            </dict>
            <key>rank_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{384,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,59}}</string>
                <key>sourceSize</key>
                <string>{384,59}</string>
            </dict>
            <key>rank_bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,63},{384,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,59}}</string>
                <key>sourceSize</key>
                <string>{384,59}</string>
            </dict>
            <key>rank_bar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{384,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,59}}</string>
                <key>sourceSize</key>
                <string>{384,59}</string>
            </dict>
            <key>rank_bar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{384,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,59}}</string>
                <key>sourceSize</key>
                <string>{384,59}</string>
            </dict>
            <key>rank_bar6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,59}}</string>
                <key>sourceSize</key>
                <string>{384,59}</string>
            </dict>
            <key>title_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,185},{181,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,50}}</string>
                <key>sourceSize</key>
                <string>{181,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{774,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:209a3ba29df0ea7c4b87084dd0f88e14:2d39c2ca6ac4dae46d0dde13846116b3:74cc68f98beed4c8a96adb0c26f30229$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
