<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comm_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,137}}</string>
                <key>sourceSize</key>
                <string>{480,137}</string>
            </dict>
            <key>score_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,206},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,25}</string>
            </dict>
            <key>score_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,185},{264,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,49}}</string>
                <key>sourceSize</key>
                <string>{264,49}</string>
            </dict>
            <key>score_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,141},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,25}</string>
            </dict>
            <key>score_distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,25}</string>
            </dict>
            <key>score_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{181,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,66}}</string>
                <key>sourceSize</key>
                <string>{181,66}</string>
            </dict>
            <key>score_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{377,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,31}}</string>
                <key>sourceSize</key>
                <string>{377,31}</string>
            </dict>
            <key>score_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{348,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,30}}</string>
                <key>sourceSize</key>
                <string>{348,30}</string>
            </dict>
            <key>score_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,206},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>title_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{180,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,51}}</string>
                <key>sourceSize</key>
                <string>{180,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>score.png</string>
            <key>size</key>
            <string>{618,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb69b1aa4d04135ddb57ef98e53e42ae:c03dc7978286733c5e76e0a73cec3fb3:e964b6a6f23b70b3ffe4cf12151abbb7$</string>
            <key>textureFileName</key>
            <string>score.png</string>
        </dict>
    </dict>
</plist>
