<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,826},{116,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,63}}</string>
                <key>sourceSize</key>
                <string>{116,63}</string>
            </dict>
            <key>btna_level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,571},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,55}}</string>
                <key>sourceSize</key>
                <string>{128,55}</string>
            </dict>
            <key>btna_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,441},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,55}}</string>
                <key>sourceSize</key>
                <string>{128,55}</string>
            </dict>
            <key>icon_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1355},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1199},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1281},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1586},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_buygold.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1519},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_diamondbless.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1445},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1593},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_rush.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1519},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>icon_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1445},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>shop_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{177,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,59}}</string>
                <key>sourceSize</key>
                <string>{177,59}</string>
            </dict>
            <key>shop_desp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{437,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,158}}</string>
                <key>sourceSize</key>
                <string>{437,158}</string>
            </dict>
            <key>shop_item0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1363},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>shop_item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>shop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shop_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,944},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shop_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{434,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,45}}</string>
                <key>sourceSize</key>
                <string>{434,45}</string>
            </dict>
            <key>shop_wm0.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,701},{123,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{123,109}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>shop_wm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{141,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,129}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>shop_wm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1660},{61,63}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,36},{61,63}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>shop_wm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{61,65}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,35},{61,65}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>title_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,535},{92,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,51}}</string>
                <key>sourceSize</key>
                <string>{92,51}</string>
            </dict>
            <key>title_wingman.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,441},{92,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,51}}</string>
                <key>sourceSize</key>
                <string>{92,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{162,1723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:006188cd15fb5ba59ac528714224d3d9:934b7c29204e538d677cc1e9794cea21:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
