<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>str_item0</key>
    <string>升级可以大幅度提升子弹威力！每级都会改变子弹外观！</string>
    <key>str_item1</key>
    <string>任何敌军、障碍统统灰飞烟灭！横扫全场，秒杀一切！（携带上限3个，可在游戏中补充）</string>
    <key>str_item2</key>
    <string>发动无敌冲刺，无视一切敌军和障碍，甚至可以秒杀BOSS！（携带上限3个，可在游戏中补充）</string>
    <key>str_item3</key>
    <string>下局游戏拥有离子护盾，抵挡一次死亡威胁。（每局消耗1个）</string>
    <key>str_item4</key>
    <string>开局时可使用，无敌冲刺1500m！</string>
    <key>str_item5</key>
    <string>开局时可使用，无敌冲刺3000m！</string>
    <key>str_item6</key>
    <string>死亡也不能阻止你前进，可以在失手后原地复活！（每局限用1次）</string>
    <key>str_item7</key>
    <string>拼尽全力在死亡后继续冲刺2000m，向更高分迈进吧！（每局限用1次）</string>
    <key>str_item8</key>
    <string>下局游戏将会掉落更多的钻石！（每局消耗1个）</string>
    <key>str_wingman0</key>
    <string>先锋号。高频率发射子弹，任何装甲都能开几个窟窿。</string>
    <key>str_wingman1</key>
    <string>怒神炮。为了破坏力而放弃了射速，但是效果不会让你失望。</string>
    <key>str_wingman2</key>
    <string>镭射眼。发射能够穿透一切的激光束，独一无二，势不可挡。</string>
    <key>str_wingman3</key>
    <string>海皇戟。拥有最广的攻击范围，没有敌人能躲过它的火力网。</string>
    <key>str_wingman4</key>
    <string>惊天雷。单发威力超强，boss杀手，不鸣则已，一鸣惊人。（包含在新兵礼包内）</string>
    <key>str_wingman5</key>
    <string>自由之翼。威力大，射速快，自动追踪，无懈可击的最终兵器。</string>
    <key>str_wingman6</key>
    <string>死神之眼。搭载自动追踪系统的核能导弹，完美无瑕的大杀器。</string>
	<key>str_wingman6_SRC</key>
    <string>超值礼包，解锁究极僚机“死神之眼”，再送海量20000金币，无敌护盾*3，原地复活*3，吐血优惠！</string>
    <key>str_buysuccess</key>
    <string>购买成功！</string>
    <key>str_upgradesuccess</key>
    <string>升级成功！</string>
    <key>str_canotbuymore</key>
    <string>道具已满，无法继续购买！</string>
    <key>str_buyfail</key>
    <string>购买失败，请再次尝试！</string>
    <key>str_lottery0</key>
    <string>恭喜您获得：终极核弹！</string>
    <key>str_lottery1</key>
    <string>恭喜您获得：无敌冲刺！</string>
    <key>str_lottery2</key>
    <string>恭喜您获得：离子护盾！</string>
    <key>str_lottery3</key>
    <string>恭喜您获得：开局冲刺1500m！</string>
    <key>str_lottery4</key>
    <string>恭喜您获得：开局冲刺3000m！</string>
    <key>str_lottery5</key>
    <string>恭喜您获得：原地复活！</string>
    <key>str_lottery6</key>
    <string>恭喜您获得：亡灵冲刺！</string>
    <key>str_lottery7</key>
    <string>恭喜您获得：宝石祝福！</string>
    <key>str_getgift</key>
    <string>礼包领取成功！</string>
    <key>str_levelmax</key>
    <string>您的子弹已经满级啦！厉害！</string>
    <key>str_item9</key>
    <string>随机获得一样其他道具，多买多赚，稳赚不赔！</string>
    <key>str_task0</key>
	<string>单次飞行超过5000M</string>
    <key>str_task1</key>
	<string>完成3局游戏</string>
    <key>str_task2</key>
	<string>使用任意开局飞行道具1次</string>
    <key>str_task3</key>
	<string>使用1次究极核弹道具</string>
    <key>str_task4</key>
	<string>使用1次无敌冲刺道具</string>
    <key>str_task5</key>
	<string>单次飞行超过10000M</string>
    <key>str_task6</key>
	<string>完成5局游戏</string>
    <key>str_task7</key>
	<string>升级1次武器火力</string>
    <key>str_task8</key>
	<string>使用1次幸运抽奖道具</string>
    <key>str_task9</key>
	<string>使用1次亡灵冲刺道具</string>
    <key>str_task10</key>
	<string>单次飞行超过15000M</string>
    <key>str_task11</key>
	<string>完成10局游戏</string>
    <key>str_task12</key>
	<string>升级1次僚机道具</string>
    <key>str_task13</key>
	<string>游戏中复活1次</string>
    <key>str_task14</key>
	<string>使用1次离子护盾道具</string>
	<key>str_taskcomp</key>
	<string>
已完成%d/%d</string>
	<key>str_pick</key>
	<string>领取成功</string>
  </dict>
</plist>