<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>userrank_m0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>userrank_m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,83},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>userrank_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userrank.png</string>
            <key>size</key>
            <string>{75,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12039083969d8054bb0e50fa9dccd45e:2576cb4938578e0158ec00b7546c03f4:f1ccf3544f487171d524f57c3789bf41$</string>
            <key>textureFileName</key>
            <string>userrank.png</string>
        </dict>
    </dict>
</plist>
