<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulletw00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>bulletw10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{25,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,81}}</string>
                <key>sourceSize</key>
                <string>{25,95}</string>
            </dict>
            <key>bulletw11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{25,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,95}}</string>
                <key>sourceSize</key>
                <string>{25,95}</string>
            </dict>
            <key>bulletw20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{33,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,206}}</string>
                <key>sourceSize</key>
                <string>{33,206}</string>
            </dict>
            <key>bulletw30.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,846},{19,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,61}}</string>
                <key>sourceSize</key>
                <string>{21,61}</string>
            </dict>
            <key>bulletw40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{34,68}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,68}}</string>
                <key>sourceSize</key>
                <string>{34,86}</string>
            </dict>
            <key>bulletw41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{34,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,86}}</string>
                <key>sourceSize</key>
                <string>{34,86}</string>
            </dict>
            <key>bulletw50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{20,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,76}}</string>
                <key>sourceSize</key>
                <string>{20,76}</string>
            </dict>
            <key>bulletw60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,115}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,115}}</string>
                <key>sourceSize</key>
                <string>{41,133}</string>
            </dict>
            <key>bulletw61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{37,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,133}}</string>
                <key>sourceSize</key>
                <string>{41,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wingmanbullet.png</string>
            <key>size</key>
            <string>{45,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857ee46b73f3e0fbb93c3b12f14a0e4b:50851d26e1805a1037763ad760679c9a:03870607aff329e72cb4cae362b4aaf5$</string>
            <key>textureFileName</key>
            <string>wingmanbullet.png</string>
        </dict>
    </dict>
</plist>
